<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        #danger{
            width: 50%;
            justify-content: center;
            position: absolute;
            right: 400px;
            bottom: 370px;
        }
        #btn{
            position: absolute;
            bottom: 350px;
            left: 700px;
            background-color: 	#F88379;
        }
    </style>
</head>
<body>
    <center>
        <div class="alert alert-danger" id="danger" role="alert">
            <h1>Opps!</h1> <h3>Something Went wrong</h3>
            <h5>Please Enter valid details</h5>
          </div>
          <button type="submit" name="submit" id="btn" onClick="location.href='/main'"> Try Again </button>
    </center>
</body>
</html>